p{
    font-size: 2em;
}
.cero{
    width: 0%;
    background-color:red;
}
.uno{
    background-color:red;
    width: 14.2%;
}
.dos{
    background-color:red;
    width: 28.5%;
}
.tres{
    background-color:red;
    width: 42.8%;
}
.cuatro{
    background-color:rgb(255, 197, 8);
    width: 57.1%;
}
.cinco{
    background-color:rgb(255, 197, 8);
    width: 71.4%;
}
.seis{
    background-color:rgb(255, 197, 8);
    width: 85.7%;
}
.siete{
    background-color:green;
        width: 100%;
}


.weak{
    width: 33%;
    color:Red;
}
.medium{
    width: 66%;
    color: yellow;
}
.strong{
    width: 100%;
    color: green;
}